@import "../../app.scss";

.register {
  width: 100vw;
  height: 100vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0) 0%,
      rgba(0, 0, 0, 1) 100%
    ),
    url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
  background-size: cover;
  position: relative;

  @include mobile{
    width: 100vw;
    height: 100vh;
    background: linear-gradient(
        to bottom,
        rgba(0, 0, 0, 0) 0%,
        rgba(0, 0, 0, 1) 100%
      ),
      url("https://cdn.mos.cms.futurecdn.net/rDJegQJaCyGaYysj2g5XWY.jpg");
    background-size: cover;
    position: relative;
  }


  .top {

      .wrapper {
        padding: 23px 50px;
        display: flex;
        align-items: center;
        justify-content: space-between;
  
        .logo {
          height: 45px;
        }
  
        .loginButton {
          background-color: red;
          border: none;
          color: white;
          border-radius: 3px;
          padding: 8px 18px;
          font-size: 16px;
          font-weight: 500;
          cursor: pointer;
        }
      }
    }
    .container {
      width: 100%;
      height: 100%;
      position: absolute;
      top: 0;
      left: 0;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      color: white;
  
      h1 {
        font-size: 50px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        
        @include mobile{
          font-size: 30px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
  
      h2 {
        margin: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include mobile{
          margin: 15px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
  
      p {
        font-size: 20px;
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;

        @include mobile{
          margin: 10px;
          display: flex;
          align-items: center;
          justify-content: center;
          text-align: center;
        }
      }
      
      input[type="file"]::file-selector-button {
        margin-top: 4px;
        border-radius: 3px;
        padding: 0 16px;
        height: 40px;
        cursor: pointer;
        background-color: white;
        border: 1px solid rgba(0, 0, 0, 0.16);
        box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.05);
        transition: background-color 200ms;
      }

        /* file upload button hover state */
        input[type="file"]::file-selector-button:hover {
          background-color: #f3f4f6;
        }

        /* file upload button active state */
        input[type="file"]::file-selector-button:active {
          background-color: #e5e7eb;
        }
      
      .input {
          width: 50%;
          background-color: white;
          display: flex;
          align-items: center;
          justify-content: space-between;
          margin-top: 20px;
          height: 50px;
          border-radius: 5px;

          @include mobile{
            width: 50%;
            background-color: white;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-top: 20px;
            height: 50px;
            border-radius: 5px;
          }
    
          input{
              flex: 9;
              height: 100%;
              border: none;
              padding: 0 10px;
              font-size: 16px;
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;

          }
          select{
            flex: 9;
            height: 100%;
            border: none;
            padding: 0 10px;
            font-size: 16px;
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;
        }
  
    
          .registerButton{
              flex: 2;
              height: 100%;
              background-color: red;
              border: none;
              color: white;
              font-size: 20px;
              cursor: pointer;

              @include mobile{
                flex: 2;
                height: 100%;
                background-color: red;
                border: none;
                color: white;
                font-size: 20px;
                cursor: pointer;
                border-top-right-radius: 3px;
                border-bottom-right-radius: 3px;
              }
             
          }
          
          .arrowleft {
            flex: 0.5;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: black;
            // background-color: rgb(100, 90, 90);
            border-top-left-radius: 3px;
            border-bottom-left-radius: 3px;

            @include mobile{
              flex: 0.5;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              color: rgb(255, 255, 255);
              border-top-left-radius: 3px;
              border-bottom-left-radius: 3px;
            }
            
          }
          .arrowright {
            flex: 0.5;
            display: flex;
            align-items: center;
            justify-content: center;
            height: 100%;
            color: black;
            // background-color: rgb(100, 90, 90);
            border-top-right-radius: 3px;
            border-bottom-right-radius: 3px;

            @include mobile{
              flex: 0.5;
              display: flex;
              align-items: center;
              justify-content: center;
              height: 100%;
              color: rgb(255, 255, 255);
              border-top-right-radius: 3px;
              border-bottom-right-radius: 3px;
            }
            
          }
      }
  }
}
